* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}

.content {
    margin-bottom: 0;
}