.player {
    font-size: 1rem;
    font-weight: 100;
    background: url('../../shared/svg/hollowed-boxes.svg') center top;
    color: var(--grey-300);
    opacity: 0.94;

    &_info {
        display: grid;
        cursor: pointer;
        grid-template-columns: 2fr repeat(2, 1.4fr) repeat(3, 1fr);
        gap: 2rem;
        & :not(li:first-child) {
            justify-self: center;
        }
        li:last-child {
            display: flex;
            align-items: center;
        }
        padding: 0.6rem 3rem;
        align-items: center;
        border-bottom: 1px solid #120f1a;
        &:hover {
            background-color: var(--blue-grey-800);
            color: var(--white)
        }
        & li:nth-child(4) {
            svg {
                fill: var(--green)
            }
        }
    }
    &:hover li:nth-child(2) {
        grid-column: 2;
        justify-self: center;

    }
    li:nth-child(2) {
        grid-column: 5;
        justify-self: center;
    }
    li:nth-child(2), 
    li:nth-child(3),
    li:nth-child(4) {
        display: flex;
        gap: 0.4rem;
        align-items: center;
    }
    li:nth-child(4) svg {
        font-size: 1.2rem;
    }
}

.red {
    color: var(--red)
}


.showfriend {
    color: var(--white)
}